<html layout:decorate="~{global/layout}">
<head>
    <title th:text="|글 내용 - ${post.id}. ${post.title}|"></title>
</head>

<body>
<div layout:fragment="content">

    <h1 class="font-bold mb-2">
        <i class="fa-regular fa-newspaper"></i> 게시글 내용</h1>
    <hr>

    <div class="px-4 py-10">
        <div class="flex flex-col max-w-6xl mx-auto md:flex-row" >
            <div class="w-full mr-8 md:w-1/3">
                <p class="badge badge-outline" th:text="${post.id}"></p>
                <p th:class="${post.published ? 'badge badge-success' : 'badge badge-warning'}" th:text="${post.published ? '공개' : '비공개'}"></p>
                <h2 class="mt-2 text-3xl font-extrabold leading-9" style="word-break: break-all;" th:text="${post.title}"></h2>
                <p class="mt-4" th:text="|작성자 : ${post.author.username}|"></p>
                <p class="mt-2" th:text="|등록 일시 : ${#temporals.format(post.createDate, 'yy.MM.dd HH:mm:ss')}|"></p>
                <p class="mb-2" th:text="|수정 일시 : ${#temporals.format(post.modifyDate, 'yy.MM.dd HH:mm:ss')}|"></p>
            </div>
            <dl class="w-full md:w-2/3 whitespace-pre-line" style="word-break: break-all;" th:text="${post.body}"></dl>
        </div>
    </div>

    <hr class="mt-2">

    <div class="mt-2 flex gap-2 justify-center">
        <a th:if="${@postService.canModify(@rq.getMember(), post)}" class="btn btn-warning btn-sm"
           th:href="|/post/${post.id}/modify|">글 수정</a>
        <a method="DELETE" th:if="${@postService.canDelete(@rq.getMember(), post)}" class="btn btn-error btn-sm"
           onclick="return confirm('정말로 삭제하시겠습니까?');" th:href="|/post/${post.id}/delete|">글 삭제</a>
    </div>
</div>
</body>
</html>
