
<div class="overflow-x-auto">
    <div class="flex flex-col max-w-6xl mx-auto md:flex-row" >
    <table class="table">
        <!-- head -->
        <thead>
        <tr>
            <th class="text-center" style="width:90px"></th>
            <th>제목</th>
            <th style="width:80px">작성자</th>
        </tr>
        </thead>
        <tbody>
        <!-- row 1 -->
        <tr class="hover" th:each="post : ${posts}" >
            <td class="text-center">
                <span th:class="${post.published ? 'badge badge-success' : 'badge badge-warning'}"
                      th:text="${post.published ? '공개' : '비공개'}"></span>
            </td>
            <td style="cursor: pointer;" th:onclick="|location.href='@{${detailUrl}}/${post.id}'|">
                <span class="badge badge-outline" th:text="${post.id}"></span>
                <span style="word-break: break-all;" th:text="${post.title}" ></span>
            </td>
            <td style="cursor: pointer;" th:onclick="|location.href='/b/@{${post.author.username}}'|">
                <span th:text="${post.author.username}" ></span>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>