
<div class="overflow-x-auto">
    <table class="table">
        <!-- head -->
        <thead>
        <tr>
            <th class="text-center" style="width:90px"></th>
            <th>제목</th>
            <th style="width:80px">작성자</th>
        </tr>
        </thead>
        <tbody>
        <!-- row 1 -->
        <tr class="hover" style="cursor: pointer;" th:each="article : ${articles}" th:onclick="|location.href='/post/${article.id}'|">
            <td class="text-center">
                <span th:class="${article.published ? 'badge badge-success' : 'badge badge-warning'}" th:text="${article.published ? '공개' : '비공개'}"></span>
            </td>
            <td>
                <span class="badge badge-outline" th:text="${article.id}"></span>
                <span style="word-break: break-all;" th:text="${article.title}"></span>
            </td>
            <td><span th:text="${article.author.username}"></span></td>
        </tr>
        </tbody>
    </table>
</div>